@import '../../sass/variables';

.NAV {
    width: 100%;
    direction: rtl;
    height: 80px;
    z-index: 1000;




    nav{
        background-color: #007CD8 ;
        color: white;
        height: 100%;


        li{
            height: 100%;
           &:hover:not(:first-child){
               border: none;
               border-bottom: 1px solid white;
               cursor: pointer;
            //    height: 100%;

           } 
           &:active:not(:first-child){
            border: none;
            border-bottom: 2px solid skyblue;
            cursor: pointer;
            // height: 100%;
        }
        }

        .iranSans {
            font-family: $iranSans;
            font-size: 18px;
            color: white;

            
        }

        

        .FLEX{
            display: flex;
            justify-content: space-between;
        }

        
    }
}

.header-btn{
    position: absolute;
    top: 20px;
    left: 10px;
}

@media screen and (max-width : 992px) {
    .FLEX{
        display: flex;
        
        flex-direction: column;
    }

    .bg-resonsive{
        background-color: #025ea5 ;
    }

    .header-btn{
            position: static;      
    }
    
}

