@import '../../sass/variables';
.carousel{
    background-image: linear-gradient(to left, #007cd8, #1e8ae2, #3198ec, #42a7f6, #53b5ff);
    

    .Row1{
        
        .col-1{
            width: 100%;
            background-image: url('../../assert/circuit2.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 500px 600px;
            background-attachment: fixed;

    
        }
        
    
        .col-2{
            width: 100%;
            height: 100%;
            .phone{
                width: 600px;
                height: 500px;
        
                img{
                    width: 100%;
                    height: 100%; 
                }
        
            } 
        }
    
    
    }
    
    .Row2{
        height: 100%;
        .col-1{

            background-image: url('../../assert/circuit2.png');
            background-position: left top;

            background-size: 600px 100%;
            

            .laptop{
                height: 90%;
                width: 80%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        
    }
    
    .Row3{
            .col-2{
                width: 500px;
                

                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }
    }
}




.iranSans{
    font-family: $iranSans;
}

.font-45{
    font-size: 45px;
}

.font-30{
    font-size: 30px;
}

.font-20{
    font-size: 20px;
}